body {
    overflow: hidden;
    font-family: "Segoe UI";
  }

  #editor {
    float: right;
  }

  #output {
    float:left;
  }
  #splitter {
    float: right;
    width: 10px;
    cursor: ew-resize;
    background-color: #590D32;
  }

.textcolor-white {
  color: white !important;
}
.backcolor-primary {
  background-color: #85144B !important;
}

.backcolor-secondary {
  background-color: #EB7AB1 !important;
}
.toolbar {
  margin-top: 40px !important;
}
.navbar {
  padding:0;
}

  .view-line {
  padding-right: 30px;
}
  .view-lines, .view-line, .has-selection, .mtk1, .view-line span, .view-line span span {
      direction: rtl;
      text-align: right;
  }

  
  #editor {
    direction: ltr;
    outline: 1px solid gray;
  }
  div.monaco-list-rows {
    direction: rtl !important;
  }
  button {
    font-family: "Segoe UI" !important;
  }
  .as-menu {
    padding:8px;
    
  }

#output {
  background-color: #85144B;
  color:white;
  overflow-x: hidden; 
}

/* OUTPUT */
#output > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#output div input[type=text] {
  background-color:transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted white;
  color:white;
}

#output div button {
  background-color:transparent;
  border: 1px solid white;
  color: white;
}

#output div input[type=text]:focus {
  outline:none;
}
#output div input:disabled, #output div button:disabled , #output div select:disabled{
  background-color: #58144B;
  color: rgba(255, 255, 255, .5);
  outline-color: rgba(255, 255, 255, .5);
  border-color: rgba(255, 255, 255, .5);
}

#output div select {
  background-color:transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dotted white;
  color: white;
}

#output div select option {
  background-color: #590D32;
}
.split, .gutter.gutter-horizontal {
  float: left;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
}